._container {
    grid-column: span 6;
    grid-row: span 1;
    border-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 2px 1px rgba(150, 150, 150, 0.2);
    overflow: hidden;
    font: normal normal 1.6rem/1 Roboto, Helvetica, Arial, sans-serif;
}

._header {
    padding: 2rem 2.4rem 1.6rem;
    background-color: rgba(38, 165, 220, 1);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
}

