
._pagePanel {
    padding: 3.2rem 0;
    margin: 0 auto;
    font: normal normal 2.4rem/1 Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    color: rgba(82, 82, 82, 1);

}

._pagePanel > span {
    padding: 0 0.8rem;
    cursor: pointer;
}

._selectedPage {
    font-size: 2.4rem;
    font-weight: 600;
}

.paginator {
    margin: 1rem;
}
.pageNumber {
    padding: 0.2rem;
    border: 0.1rem solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}