._containerNav {
    width: 100%;
    padding-top: 1.6rem;
    font: normal normal 1.6rem/1 Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-align: right;
}

._item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0.8rem;
}

._itemLink {
    min-height: 1.6rem;
    margin: 0.8rem 0;
    grid-column: 2 / span 4;
}
._itemLink > span {
    color: #7a7a7a;
}

.activeLink {
    font-weight: 600;
    color: #fb140c;
}

._notifyCell {
    width: 1.6rem;
    margin: 0.8rem 0;
    display: grid;
    grid-column: 6 / 7;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    background-color: cornflowerblue;
    font-size: 1.4rem;
    line-height: 1.6rem;
    border-radius: 0.4rem;
}
